<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">

    <img id="header" src="/img/logo.png">

    <div class="header-text">
      <p class="lead">
        This is a remake of the <a href="http://finalfantasy.wikia.com/wiki/Sky_Pirate's_Den">Sky Pirate's Den</a> 
        in the original Final Fantasy XII for PlayStation 2. Since this screen was removed in the PS4 remaster Final Fantasy XII: The Zodiac Age,
        this site serves as a replacement!
      </p>
      <p>
        The Sky Pirate's Den is based on Trophies in Final Fantasy XII: The Zodiac Age. 
        Almost every trophy unlocks something from the old Den. 
        Enter your PSN name (or someone else's) below to load the Sky Pirate's Den! 
        If you just unlocked something, it might take some time for the network to update. 
        As this is a work in progress, report any errors or bugs to <a href="https://twitter.com/polydus"> @Polydus</a>.
      </p>
    </div>

    <form method="post" action="/">
      <div class="input-group" id="input-group-psn">
          <input type="text" name="psn" id="input-psn" class="form-control" placeholder="Your PSN name" aria-describedby="basic-addon1">
          <span class="input-group-btn">
            <button class="btn btn-default" id="input-psn-button" type="submit">Load the Sky Pirate's Den!</button>
          </span>
      </div>
    </form>

    <% if(playerName !== null && playerName !== undefined){ %>
    <div class="page-header">
      <h1>  <%= playerName + '\'s Den' %></h1>
    </div>
    <% } %>

    <div id="den-container">
      <% if(trophies[1].comparedUser.earned){ %>
        <div id="den-bg-strahl"></div>
      <% } else { %>  
        <div id="den-bg"></div>
      <% } %>
      <% trophies.forEach(function(trophy, index) { %>
        <% if(trophy.comparedUser.earned){ %>
          <div class="sprite" id=<%= 'sprite-trophy' + index %>></div> 
        <% } %>
      <% }); %>
    </div>

    <div class="page-header">
      <h1>Trophies</h1>
    </div>

    <div class="trophylist" id="">
      <% trophies.forEach(function(trophy, index) { %>

        <% if(index % 3 === 0){ %>
          <div class="row trophy-row">
        <% } %>

        <% if(index % 2 === 0){ %>
          <% if(trophy.comparedUser.earned){ %>
          <div class="trophy-container alt achieved col-md-4">
          <img class="trophy-container-img" src=<%= '/img/trophies/trophy' + index + '.png' %>>
          <% } else { %>  
          <div class="trophy-container alt col-md-4">
          <img title="grayscale" class="trophy-container-img grayscale" src=<%= '/img/trophies/trophy' + index + '.png' %>>          
            <% } %>
        <% } else { %>  
          <% if(trophy.comparedUser.earned){ %>
          <div class="trophy-container achieved col-md-4">
          <img class="trophy-container-img" src=<%= '/img/trophies/trophy' + index + '.png' %>>
          <% } else{ %>  
          <div class="trophy-container col-md-4">
          <img title="grayscale" class="trophy-container-img grayscale" src=<%= '/img/trophies/trophy' + index + '.png' %>>
          <% } %>
        <% } %>

        <p class="trophy-container-title">
          <% if(trophy.trophyName === undefined){ %>
            <%= /*index + ' - ' +*/ 'hidden' %>
          <% } else{ %>  
            <%= /*index + ' - ' +*/ trophy.trophyName %>
          <% } %>
        </p>

        <p class="trophy-container-detail">
          <% if(trophy.trophyName === undefined){ %>
            <%= /*index + ' - ' +*/ 'hidden' %>
          <% } else{ %>  
            <%= /*index + ' - ' +*/ trophy.trophyDetail %>
          <% } %>
        </p>

        </div>

        <% if((index + 1) % 3 === 0 || index === trophies.length - 1){ %>
        </div>
        <% } %>

      <% }); %>
    </div>

  </div>

  <% include ../partials/footer.ejs %>

</body>
</html>
